<h1>
    <%= @date %>
    の日記を削除しますか？
</h1>
<h2>
    <%= link_to 'キャンセル', controller: "events", action: "show", id: @date %>
    <% #FIXME: 削除がルーティングエラーでうまくいかない %>
    <%= link_to '削除', @date, :method => :delete %>
</h2>

<div>
    <div class="content-block">
        <h3>日付</h3>
        <p>
            <%= @date %>
        </p>
    </div>
    <div class="content-block">
        <h3>やったこと</h3>
        <%= simple_format(@selected_date_event.done, {}, wrapper_tag: "div") %>
    </div>
    <div class="content-block">
        <h3>できたこと</h3>
        <%= simple_format(@selected_date_event.achievement, {}, wrapper_tag: "div") %>
    </div>
    <div class="content-block">
        <h3>筋トレ</h3>
        <% @exercise_check_status.each do |k, v| %>
            <%= check_box_tag 'v', k, v, {disabled: true} %>
            <%= k %>
        <% end %>
    </div>
    <div class="content-block">
        <h3>メモ</h3>
        <%= simple_format(@selected_date_event.memo, {}, wrapper_tag: "div") %>
    </div>
</div>