<h1>
    <%= @date %>
</h1>

<h2>
    <% if @selected_date_event.nil? %>
        <%= link_to '追加', new_event_path %>
    <% else %>
        <%= link_to '編集', edit_event_path(@date) %>
        <%= link_to '削除', action: "delete_confirm", id: @date %>
    <% end %>
</h2>

<div class="d-flex">
    <%= render 'events/common/calendar' %>
    <%= render 'events/common/diary' %>
</div>
