<h1>
    <%= @date %>
</h1>

<h2>
    <% if @selected_date_event.nil? %>
        <%= link_to '追加', new_event_path(date: @date) %>
    <% else %>
        <%= link_to '編集', edit_event_path(@date) %>
        <%= link_to '削除', controller: "events", action: "delete_confirm" %>
        <%= 
          #resourcesの画面からなら、path指定なくてもメソッド指定でdestroy出来ることの確認。
          #うっかり押すと怖いのでコメントアウト
          #link_to '削除(resourcesの画面からテスト)', @date, :method => "delete"
        %>
    <% end %>
</h2>

<div class="d-flex">
    <%= render 'events/common/calendar' %>
    <%= render 'events/common/diary' %>
</div>