<%= form_for @event, :url => {:action => @action} do |form| %>
    <div class="time">
        <h3 class="area_title">
            <%= form.label :start_time, "日付" %>
        </h3>
        <%= form.date_select :start_time %>
    </div>
    
    <div class="done">
        <h3 class="area_title">
            <%= form.label :done, "やったこと" %>
        </h3>
        <%= form.text_area :done %>
    </div>
    
    <div class="achievement">
        <h3 class="area_title">
            <%= form.label :achievement, "できたこと" %>
        </h3>
        <%= form.text_area :achievement %>
    </div>
    
    <div class="exercise">
        <h3 class="area_title">
            <%= form.label :exercise, "筋トレ" %>
        </h3>
        <%= form.collection_check_boxes(:exercise_ids, Exercise.all, :id, :label) do |b| %>
            <% b.label { b.check_box + b.text } %>
        <% end %>
    </div>
    
    <div class="memo">
        <h3 class="area_title">
            <%= form.label :memo, "メモ" %>
        </h3>
        <%= form.text_area :memo %>
    </div>
    
    <div class="submit">
        <%= form.button @button_text, type: "button", onclick: "submit();" %>
    </div>
<% end %>
